# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "eboard" for table "eboard"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders

!/eboard/
/eboard/*

!/signs/
/signs/*

!/feed/
/feed/*

!/images/
/images/*


# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/eboard/1.png
!/eboard/2.png
!/eboard/3.png
!/eboard/4.png
!/eboard/5.png
!/eboard/6.png
!/eboard/7.png

!/signs/1.jpg
!/signs/2.jpg
!/signs/3.jpg
!/signs/4.jpg
!/signs/5.jpg
!/signs/6.jpg
!/signs/7.jpg
!/signs/8.jpg
!/signs/9.jpg
!/signs/10.jpg
!/signs/11.jpg
!/signs/12.jpg
!/signs/13.jpg
!/signs/14.jpg
!/signs/15.jpg
!/signs/16.jpg
!/signs/17.jpg
!/signs/18.jpg
!/signs/19.jpg
!/signs/20.jpg
!/signs/21.jpg
!/signs/22.jpg
!/signs/23.jpg
!/signs/24.jpg
!/signs/25.jpg
!/signs/26.jpg
!/signs/27.jpg
!/signs/28.jpg
!/signs/29.jpg
!/signs/30.jpg
!/signs/31.jpg
!/signs/32.jpg
!/signs/33.jpg
!/signs/34.jpg
!/signs/35.jpg
!/signs/36.jpg
!/signs/37.jpg
!/signs/38.jpg
!/signs/39.jpg
!/signs/40.jpg

#below temporary; will change later

!/images/1.jpg
!/images/2.jpg
!/images/3.jpg
!/images/4.jpg
!/images/5.jpg
!/images/6.jpg
!/images/7.jpg
!/images/8.jpg
!/images/9.jpg
!/images/10.jpg
!/images/11.jpg
!/images/12.jpg
!/images/13.jpg
!/images/14.jpg
!/images/15.jpg
!/images/16.jpg
!/images/17.jpg
!/images/18.jpg
!/images/19.jpg
!/images/20.jpg
!/images/21.jpg
!/images/22.jpg
!/images/23.jpg
!/images/24.jpg
!/images/25.jpg
!/images/26.jpg
!/images/27.jpg
!/images/28.jpg
!/images/29.jpg
!/images/30.jpg
!/images/31.jpg

!/feed/1.docx
!/feed/2.pdf
!/feed/3.pdf
